/* CSS RESET ***************************************************** */
*, *::before, *::after {box-sizing: border-box}
* {margin: 0; padding: 0; font: inherit}
html, body {height: 100%}
img, picture, video, canvas, svg {display: block; max-width: 100%}
p, h1, h2, h3, h4, h5, h6 {overflow-wrap: break-word}
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
/* *************************************************************** */


/* PROJECT STYLES ================================================ */
@import url(https://fonts.googleapis.com/css?family=Lemon);

body {
  display: flex;
  flex-direction: column;
  font-family: Geogrotesque, Segoe UI, Helvetica, Arial, sans-serif;
  background: mintcream;
}

button {
  margin-left: auto;
  border-radius: 100px;
  background: rgb(255 165 0 / 0.8);
  box-shadow: rgb(255 165 0 / 1) 0 10px 10px -10px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  padding: 8px 18px;
  border: none;
}
button:hover {
  background: rgb(255 165 0 / 1);
}
button:active {
  background: rgb(255 165 0 / 0.7);
  transform: scale(0.95);
}

/* ELEMENT STYLES ================================================ */

/* MainHeader ---------------------------------------------------- */
#MainHeader {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  background-color: rgb(163, 228, 215);
  padding: 0 2rem;
  box-shadow: 0px 1px 6px #999;
}

#MainHeader img {
  width: 40px;
  margin-right: 0.25rem;
}

#SiteTitle {
  font-family: 'Lemon';
  font-size: 2rem;
  color: rgb(255, 165, 0);
}

#Search {
  margin-left: auto;
  border: none;
  border-radius: 100px;
  height: 2rem;
  width: 20rem;
  outline: none;
  padding: 0 1rem;
}
#Search:hover,
#Search:focus {
  box-shadow: 0px 1px 3px rgb(192, 185, 185);
}

/* MainContent --------------------------------------------------- */
#MainContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  width: 95%;
  margin: 80px auto;
  margin-bottom: 30px;
}

.recipe-panel {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
  transition: 0.3s;
  /* max-height: 350px; */
}
.recipe-panel:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.recipe-panel img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 0.5rem 0.5rem 0 0;
}

.recipe-name {
  margin: 0.5rem 0.75rem 0 0.75rem;
  margin-bottom: 0;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  font-size: 1.1rem;
}

.recipe-description {
  margin: 0.5rem 0.75rem 0 0.75rem;
  font-weight: 300;
}

.recipe-details {
  text-align: center;
  margin-top: auto;
  margin-bottom: 1.5rem;
  text-decoration: none;
  color: rgb(235, 160, 0);
  font-weight: 300;
}

/* MainFooter ---------------------------------------------------- */
#MainFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: rgb(232, 248, 245);
  box-shadow: 0px 1px 3px #999;
}

/* MODAL STYLES ================================================== */

/* Modal Parent Element ------------------------------------------ */
#Modal {
  z-index: 1;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 5rem;
  overflow: auto;
  background-color: rgb(0 0 0 / 0.5);
}

/* Content Box (the visible part) ------------------------------- */
#ModalContent {
  border-radius: 0.5rem;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  height: 90%;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* Header within the content box --------------------------------- */
#ModalHeader {
  display: flex;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 1.5rem;
  height: 30%;
}

#ModalHeader img {
  width: 180px;
  height: 120px;
  border-radius: 0.25rem;
}

.modal-recipe-name {
  margin: 0.5rem 0.75rem 0 0.75rem;
  margin-bottom: 0;
  font-weight: 700;
  font-style: italic;
  font-size: 1.1rem;
  margin-top: 0;
  width: 97%;
}
.modal-recipe-description {
  margin: 0.5rem 0.75rem 0 0.75rem;
  font-weight: 300;
  font-size: 0.9rem;
}

#ModalHeader input {
  width: 97%;
  border: 1px solid gray;
  border-radius: 0.25rem;
  padding: 0.25rem;
  font-size: 1rem;
  margin-left: 0.75rem;
  outline: none;
}

#ModalHeader textarea {
  width: 97%;
  border: 1px solid gray;
  border-radius: 0.25rem;
  padding: 0.25rem;
  font-size: 0.8rem;
  margin: 0 1.5rem 0 0.75rem;
  margin-top: 0.5rem;
  resize: none;
}

#CloseModal {
  position: absolute;
  top: 0;
  right: 0.75rem;
  font-size: 1.75rem;
  font-weight: 300;
  color: rgb(151, 150, 150);
}
#CloseModal:hover,
#CloseModal:focus {
  font-weight: 600;
  color: black;
  cursor: pointer;
}

/* Body within content box --------------------------------------- */
#ModalBody {
  padding: 1.5rem;
  padding-bottom: 0.5rem;
  padding-bottom: 0;
  height: 55%;
}

.modal-recipe-container {
  display: flex;
  height: 100%;
}

.modal-recipe-content {
  width: 100%;
  font-size: 0.85rem;
  font-weight: 300;
  height: 100%;
  list-style-type: circle;
  list-style-position: inside;
  font-size: 0.85rem;
  font-weight: 300;
}

.modal-recipe-label {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.modal-recipe-uibox {
  display: flex;
}

.modal-recipe-uibox input {
  width: 90%;
  margin-right: 0.25rem;
  padding: 2px 4px;
}

.modal-recipe-uibox button {
  padding: 2px 4px;
  margin: 0;
  line-height: initial;
  font-weight: initial;
}

.modal-recipe-label {
  height: 10%;
}

#ModalBody ul,
#ModalBody ol {
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}

#ModalBody li {
  margin-bottom: 1rem;
}

.modal-recipe-content:first-child {
  border-right: 1px solid lightslategray;
  padding-right: 0.25rem;
}

.modal-recipe-content:last-child {
  padding-left: 1.5rem;
}

hr {
  margin: 0 1.5rem;
}

/* Footer within content box ------------------------------------- */
#ModalFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  border-radius: 0 0 0.5rem 0.5rem;
}

#ModalFooter button {
  margin: 0;
}
