@import url(https://fonts.googleapis.com/css?family=Lemon);

*,
*::before,
*::after {
  border-collapse: collapse;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Geogrotesque, Segoe UI, Helvetica, Arial, sans-serif;
  background: mintcream;
}

#MainHeader {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  background-color: rgb(163, 228, 215);
  padding: 0 2rem;
  box-shadow: 0px 1px 6px #999;
}

#MainHeader img {
  width: 40px;
  margin-right: 0.25rem;
}

#SiteTitle {
  font-family: 'Lemon';
  font-size: 2rem;
  color: rgb(255, 165, 0);
}

#Search {
  margin-left: auto;
  border: none;
  border-radius: 100px;
  height: 2rem;
  width: 20rem;
  outline: none;
  padding: 0 1rem;

  /* margin-right: 2rem; */
}
#Search:hover,
#Search:focus {
  box-shadow: 0px 1px 3px rgb(192, 185, 185);
}

#AddButton {
  margin-left: auto;
  border-radius: 100px;
  background: rgb(255 165 0 / 0.8);
  box-shadow: rgb(255 165 0 / 1) 0 10px 10px -10px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  line-height: 24px;
  padding: 8px 18px;
  border: none;
}
#AddButton:hover {
  background: rgb(255 165 0 / 1);
}
#AddButton:active {
  background: rgb(255 165 0 / 0.7);
  transform: scale(0.95);
}

#MainContent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  width: 95%;
  margin: 80px auto;
  margin-bottom: 30px;
}

.recipe-panel {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
  transition: 0.3s;

  /* min-height: 400px; */
}
.recipe-panel:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.recipe-panel img {
  width: 100%;
  height: 40%;
  margin: 0 auto;
  border-radius: 0.5rem 0.5rem 0 0;
}

.recipe-name {
  margin: 0.5rem 0.75rem 0 0.75rem;
  margin-bottom: 0;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  font-size: 1.1rem;
}

.recipe-description {
  margin: 0.5rem 0.75rem 0 0.75rem;
  font-weight: 300;
}

.recipe-details {
  text-align: center;
  margin-top: auto;
  margin-bottom: 0.5rem;
  text-decoration: none;
  color: rgb(235, 160, 0);
  font-weight: 300;
}

#MainFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: rgb(232, 248, 245);
  box-shadow: 0px 1px 3px #999;
}

#Modal {
  z-index: 1;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 5rem;
  overflow: auto;
  background-color: rgb(0 0 0 / 0.5);
}

#ModalContent {
  border-radius: 0.5rem;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  height: 90%;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

#ModalHeader {
  display: flex;
  border-radius: 0.5rem 0.5rem 0 0;
  padding: 1rem;
}

#ModalHeader img {
  width: 25%;
  border-radius: 0.25rem;
}
#ModalHeader .recipe-name {
  text-align: initial;
  margin-top: 0;
}

#CloseModal {
  position: absolute;
  top: 0;
  right: 0.75rem;
  font-size: 1.75rem;
  font-weight: 300;
  color: rgb(151, 150, 150);
}
#CloseModal:hover,
#CloseModal:focus {
  font-weight: 600;
  color: black;
  cursor: pointer;
}

#ModalBody {
  padding: 0 1.5rem;
}

#ModalFooter {
  height: 1rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

.recipe-container {
  display: flex;
}
.recipe-container li {
  height: 1.5rem;
}

.recipe-label {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.recipe-content:first-child {
  border-right: 1px solid lightslategray;
  padding-right: 0.25rem;
}

.recipe-content:last-child {
  padding-left: 1.5rem;
}

.recipe-content {
  width: 100%;
  font-size: 0.85rem;
  font-weight: 300;
  /* min-height: 100%; */
  list-style-type: circle;
  list-style-position: inside;
  font-size: 0.85rem;
  font-weight: 300;
}

hr {
  margin: 1rem 2rem 2rem 2rem;
}
